package ${package.Mapper};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Param;
import ${package.Entity}.${entity};

import java.util.List;

/**
 * $!{table.comment}
 *
 * @author $!{author}
 * @version 1.0
 * @since $!{date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    /**
     * 批量插入
     *
     * @param $!{table.entityPath}List $!{table.comment}
     */
    void insertBatch(List<$!{entity}> $!{table.entityPath}List);

    /**
     * 删除，物理删除
     *
     * @param id ID 主键
     */
    void deleteById(@Param("id") Long id);

    /**
     * 批量删除，物理删除
     *
     * @param idList ID 主键 List
     */
    void deleteByIds(@Param("idList") List<Long> idList);
}
#end
